.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 88px;
  background-color: $color-main;
  color: #fff;
  @include pad {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include mobile {
    padding: 0;
    flex-wrap: wrap;
  }
  .logo {
    @include mobile {   
      flex-basis: 100%;
      padding: 10px 0;
    }
    img {
      width: 80px;
      margin: auto;
      @include mobile {
        width: 48px;
      }
    }
  }
  a {
    color: #fff;
  }
  .menu {
    display: flex;
    font-size: $fz-medium;
    text-align: center;
    @include mobile {
      flex-basis: 100%;
      flex-wrap: wrap;
    }
    .item {
      margin-left: 64px;
      @include mobile {
        margin-left: 0;
        border: 1px solid #fff;
        padding: 8px 0;
        flex-basis: 50%;
      }
    }
  }
}

.footer {
  background-color: $color-main;
  padding: 36px 0 28px;
  @include pad {
    padding: 40px 0;
  }
  @include mobile {
    padding: 24px 0 20px;
  }
  * {
    color: #fff;
  }
  .list-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile {
      float: right;
    }
  }
  .menu {
    display: flex;
    text-align: center;
    .item {
      margin-right: 48px;
    }
    @include mobile {
      display: none;
    }
  }
  .iconList {
    display: flex;
    .item {
      margin-left: 32px;
      @include pad {
        margin-left: 24px;
        width: 24px;
      }
    }
  }
  .contactList {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include mobile {
      margin-top: 0;
    }
    .item {
      +.item {
        margin-top: 20px;
        @include pad {
          margin-top: 8px;
        }
      }
    }
    a {
      display: flex;
      align-items: center;
      font-size: $fz-giant;
      @include pad {
        font-size: $fz-medium;
      }
      @include mobile {
        font-size: $fz-base;
      }
    }
    img {
      margin-right: 16px;
      @include pad {
        width: 24px;
        margin-right: 12px;
      }
      @include mobile {
        width: 14px;
        margin-right: 7px;
      }
    }
  }
  .subfooter {
    margin-top: 20px;
    padding-top: 24px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #fff;
    @include pad {
      margin-top: 24px;
    }
    @include mobile {
      padding-top: 18px;
      flex-direction: column;
      align-items: flex-start;
    }
    .logo {
      width: 80px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 40px;
      @include pad {
        display: none;
      }
      &-onlyMobile {
        display: none;
        @include mobile {
          display: block;
          margin-right: 0;
          width: 46px;
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }
    .copyright {
      vertical-align: middle;
      @include mobile {
        font-size: $fz-small;
      }
    }
    .sublist {
      display: flex;
      @include mobile {
        flex-direction: column;
      }
      .item {
        margin-left: 60px;
        @include pad {
          margin-left: 24px;
          font-size: $fz-small;
        }
        @include mobile {
          margin-left: 0;
          margin-top: 8px;
        }
      }
    }
  }
}