// @mixin font-size($font-size){
//     font-size:$font-size +px;
//     font-size:$font-size / $base-font-size +rem;
// }

@mixin rwd-font-size($pc, $pad:null, $mobile:null) {
    font-size: $pc;
    @include pad {
        font-size: $pad;
    }
    @include mobile {
        font-size: $mobile;
    }
}

@mixin rwd-margin($pc, $pad:null, $mobile:null) {
    margin: $pc;
    @include pad {
        margin: $pad;
    }
    @include mobile {
        margin: $mobile;
    }
}

@mixin rwd-margin-dir($direction ,$pc, $pad:null, $mobile:null) {
    margin-#{$direction}: $pc;
    @include pad {
        margin-#{$direction}: $pad;
    }
    @include mobile {
        margin-#{$direction}: $mobile;
    }
}

@mixin rwd-padding($pc, $pad:null, $mobile:null) {
    padding: $pc;
    @include pad {
        padding: $pad;
    }
    @include mobile {
        padding: $mobile;
    }
}

@mixin rwd-padding-dir($direction ,$pc, $pad:null, $mobile:null) {
    padding-#{$direction}: $pc;
    @include pad {
        padding-#{$direction}: $pad;
    }
    @include mobile {
        padding-#{$direction}: $mobile;
    }
}

