
/* ---------- layout ---------- */
.container {
    max-width: $container;
    margin: 0 auto;
    @include pad {
        padding: 0 40px;
    }
    @include mobile {
        padding: 0 15px;
    }
}

.clearFix:after {
    clear: both;
    display: block;
    content: "";
    height: 0;
    line-height: 0;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: relative;
}


/* ---------- font ---------- */
.fz-small {
    font-size: $fz-small;    
}

.fz-base {
    font-size: $fz-base;    
}

.fz-large {
    font-size: $fz-large;    
}

.f-style-normal {
    font-style: normal;
}


/* ---------- color ---------- */
.color-white {
    color: #fff;
}

.color-black {
    color: #000;
}


/* ---------- background ---------- */
.bg-black {
    background-color: #000;
}


/* ---------- display ---------- */
.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-end {
    justify-content: flex-end;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}


/* ---------- others ---------- */
.mobile-only {
    display: none;
    @include mobile {
        display: initial;
    }
}

.pc-pad-only {
    @include mobile {
        display: none;
    }
}

.pc-only {
    @include pad {
        display: none;
    }
}
