/* ---------- layout ---------- */
/* ---------- distance ---------- */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding-left: 15px;
  padding-right: 15px; }

.col-1 {
  width: 8.33333%; }
  @media (max-width: 767px) {
    .col-1 {
      width: 100%; } }

.col-2 {
  width: 16.66667%; }
  @media (max-width: 767px) {
    .col-2 {
      width: 100%; } }

.col-3 {
  width: 25%; }
  @media (max-width: 767px) {
    .col-3 {
      width: 100%; } }

.col-4 {
  width: 33.33333%; }
  @media (max-width: 767px) {
    .col-4 {
      width: 100%; } }

.col-5 {
  width: 41.66667%; }
  @media (max-width: 767px) {
    .col-5 {
      width: 100%; } }

.col-6 {
  width: 50%; }
  @media (max-width: 767px) {
    .col-6 {
      width: 100%; } }

.col-7 {
  width: 58.33333%; }
  @media (max-width: 767px) {
    .col-7 {
      width: 100%; } }

.col-8 {
  width: 66.66667%; }
  @media (max-width: 767px) {
    .col-8 {
      width: 100%; } }

.col-9 {
  width: 75%; }
  @media (max-width: 767px) {
    .col-9 {
      width: 100%; } }

.col-10 {
  width: 83.33333%; }
  @media (max-width: 767px) {
    .col-10 {
      width: 100%; } }

.col-11 {
  width: 91.66667%; }
  @media (max-width: 767px) {
    .col-11 {
      width: 100%; } }

.col-12 {
  width: 100%; }
  @media (max-width: 767px) {
    .col-12 {
      width: 100%; } }

@media (max-width: 1025px) {
  .col-md-1 {
    padding-left: 15px;
    padding-right: 15px;
    width: 8.33333%; } }

@media (max-width: 1025px) {
  .col-md-2 {
    padding-left: 15px;
    padding-right: 15px;
    width: 16.66667%; } }

@media (max-width: 1025px) {
  .col-md-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 25%; } }

@media (max-width: 1025px) {
  .col-md-4 {
    padding-left: 15px;
    padding-right: 15px;
    width: 33.33333%; } }

@media (max-width: 1025px) {
  .col-md-5 {
    padding-left: 15px;
    padding-right: 15px;
    width: 41.66667%; } }

@media (max-width: 1025px) {
  .col-md-6 {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%; } }

@media (max-width: 1025px) {
  .col-md-7 {
    padding-left: 15px;
    padding-right: 15px;
    width: 58.33333%; } }

@media (max-width: 1025px) {
  .col-md-8 {
    padding-left: 15px;
    padding-right: 15px;
    width: 66.66667%; } }

@media (max-width: 1025px) {
  .col-md-9 {
    padding-left: 15px;
    padding-right: 15px;
    width: 75%; } }

@media (max-width: 1025px) {
  .col-md-10 {
    padding-left: 15px;
    padding-right: 15px;
    width: 83.33333%; } }

@media (max-width: 1025px) {
  .col-md-11 {
    padding-left: 15px;
    padding-right: 15px;
    width: 91.66667%; } }

@media (max-width: 1025px) {
  .col-md-12 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%; } }

@media (max-width: 767px) {
  .col-sm-1 {
    padding-left: 15px;
    padding-right: 15px;
    width: 8.33333%; } }

@media (max-width: 767px) {
  .col-sm-2 {
    padding-left: 15px;
    padding-right: 15px;
    width: 16.66667%; } }

@media (max-width: 767px) {
  .col-sm-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 25%; } }

@media (max-width: 767px) {
  .col-sm-4 {
    padding-left: 15px;
    padding-right: 15px;
    width: 33.33333%; } }

@media (max-width: 767px) {
  .col-sm-5 {
    padding-left: 15px;
    padding-right: 15px;
    width: 41.66667%; } }

@media (max-width: 767px) {
  .col-sm-6 {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%; } }

@media (max-width: 767px) {
  .col-sm-7 {
    padding-left: 15px;
    padding-right: 15px;
    width: 58.33333%; } }

@media (max-width: 767px) {
  .col-sm-8 {
    padding-left: 15px;
    padding-right: 15px;
    width: 66.66667%; } }

@media (max-width: 767px) {
  .col-sm-9 {
    padding-left: 15px;
    padding-right: 15px;
    width: 75%; } }

@media (max-width: 767px) {
  .col-sm-10 {
    padding-left: 15px;
    padding-right: 15px;
    width: 83.33333%; } }

@media (max-width: 767px) {
  .col-sm-11 {
    padding-left: 15px;
    padding-right: 15px;
    width: 91.66667%; } }

@media (max-width: 767px) {
  .col-sm-12 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%; } }

.ext-pos-center, .ext-has-pseudo-center::before, .ext-has-pseudo-center::after, .cobranding .item-title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.ext-bgi, .prodTop .image, .prodList-img, .card-img, .pageTop, .articleCard-img, .heroHeader, .cobranding {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.ext-has-pseudo, .ext-has-pseudo-center, .ext-has-pseudo-bgi, .cobranding .item-image, .prodMenu a {
  position: relative; }
  .ext-has-pseudo::before, .ext-has-pseudo-center::before, .ext-has-pseudo-bgi::before, .cobranding .item-image::before, .prodMenu a::before, .ext-has-pseudo::after, .ext-has-pseudo-center::after, .ext-has-pseudo-bgi::after, .cobranding .item-image::after, .prodMenu a::after {
    content: "";
    display: block;
    position: absolute; }

.ext-has-pseudo-bgi::before, .cobranding .item-image::before, .ext-has-pseudo-bgi::after, .cobranding .item-image::after {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.ext-flex-center, .prodMenu a, .about .item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* ---------- layout ---------- */
.container {
  max-width: 1110px;
  margin: 0 auto; }
  @media (max-width: 1025px) {
    .container {
      padding: 0 40px; } }
  @media (max-width: 767px) {
    .container {
      padding: 0 15px; } }

.clearFix:after {
  clear: both;
  display: block;
  content: "";
  height: 0;
  line-height: 0; }

.pos-relative {
  position: relative; }

.pos-absolute {
  position: relative; }

/* ---------- font ---------- */
.fz-small {
  font-size: 14px; }

.fz-base {
  font-size: 16px; }

.fz-large {
  font-size: 24px; }

.f-style-normal {
  font-style: normal; }

/* ---------- color ---------- */
.color-white {
  color: #fff; }

.color-black {
  color: #000; }

/* ---------- background ---------- */
.bg-black {
  background-color: #000; }

/* ---------- display ---------- */
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

/* ---------- others ---------- */
.mobile-only {
  display: none; }
  @media (max-width: 767px) {
    .mobile-only {
      display: initial; } }

@media (max-width: 767px) {
  .pc-pad-only {
    display: none; } }

@media (max-width: 1025px) {
  .pc-only {
    display: none; } }

.h-100 {
  height: 100%; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #000; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

body {
  font-family: 'Roboto', 'Noto Sans TC', "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2; }

.btn {
  width: 350px;
  border: none;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  padding: 16px; }
  @media (max-width: 1025px) {
    .btn {
      font-size: 14px; } }
  @media (max-width: 1025px) {
    .btn {
      padding: 8px; } }
  .btn--primary {
    color: #fff;
    background-color: #AA0601; }
    .btn--primary:hover {
      background-color: #770401; }
  .btn--black {
    color: #fff;
    background-color: #000; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: #555555;
  font-size: 18px;
  height: 48px;
  line-height: 48px; }
  @media (max-width: 1025px) {
    .pagination {
      font-size: 18px; } }
  @media (max-width: 767px) {
    .pagination {
      font-size: 12px; } }
  @media (max-width: 1025px) {
    .pagination {
      height: 48px; } }
  @media (max-width: 767px) {
    .pagination {
      height: 32px; } }
  @media (max-width: 1025px) {
    .pagination {
      line-height: 48px; } }
  @media (max-width: 767px) {
    .pagination {
      line-height: 32px; } }
  .pagination > * {
    border: 1px solid #555555; }
  .pagination a {
    color: #555555; }
  .pagination .prev, .pagination .next {
    width: 80px; }
    @media (max-width: 1025px) {
      .pagination .prev, .pagination .next {
        width: 80px; } }
    @media (max-width: 767px) {
      .pagination .prev, .pagination .next {
        width: 53px; } }
  .pagination .num {
    width: 40px; }
    @media (max-width: 1025px) {
      .pagination .num {
        width: 40px; } }
    @media (max-width: 767px) {
      .pagination .num {
        width: 27px; } }
    .pagination .num.active {
      background-color: #000; }
      .pagination .num.active a {
        color: #fff; }
  .pagination .next {
    background-color: #F2F2F2; }

.prodMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500; }
  .prodMenu a {
    border: 1px solid #DCDCDC;
    font-size: 42px;
    width: 462px;
    height: 105px; }
    @media (max-width: 1025px) {
      .prodMenu a {
        font-size: 28px; } }
    @media (max-width: 767px) {
      .prodMenu a {
        font-size: 14px; } }
    @media (max-width: 1025px) {
      .prodMenu a {
        width: 33.33333%; } }
    @media (max-width: 1025px) {
      .prodMenu a {
        height: 70px; } }
    @media (max-width: 767px) {
      .prodMenu a {
        height: 35px; } }
    .prodMenu a.active:after {
      bottom: 0;
      left: 0;
      right: 0;
      height: 16px;
      background-color: #AA0601; }
      @media (max-width: 1025px) {
        .prodMenu a.active:after {
          height: 8px; } }
      @media (max-width: 767px) {
        .prodMenu a.active:after {
          height: 4px; } }
  .prodMenu .icon {
    max-width: 48px;
    max-height: 48px;
    margin-right: 8px; }
    @media (max-width: 1025px) {
      .prodMenu .icon {
        max-width: 32px; } }
    @media (max-width: 767px) {
      .prodMenu .icon {
        max-width: 15px; } }
    @media (max-width: 1025px) {
      .prodMenu .icon {
        max-height: 32px; } }
    @media (max-width: 767px) {
      .prodMenu .icon {
        max-height: 15px; } }
    @media (max-width: 1025px) {
      .prodMenu .icon {
        margin-right: 8px; } }
    @media (max-width: 767px) {
      .prodMenu .icon {
        margin-right: 4px; } }

.prodTop {
  height: 309px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 1025px) {
    .prodTop {
      height: 309px; } }
  @media (max-width: 767px) {
    .prodTop {
      height: 144px; } }
  .prodTop .image {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .prodTop .image + .image {
      margin-left: 30px; }
      @media (max-width: 1025px) {
        .prodTop .image + .image {
          margin-left: 0; } }

.prodTitle {
  text-align: center;
  font-weight: 500;
  font-size: 42px; }
  @media (max-width: 1025px) {
    .prodTitle {
      font-size: 32px; } }
  @media (max-width: 767px) {
    .prodTitle {
      font-size: 20px; } }
  .prodTitle .sub {
    display: block;
    font-weight: 400;
    font-size: 32px; }
    @media (max-width: 1025px) {
      .prodTitle .sub {
        font-size: 24px; } }
    @media (max-width: 767px) {
      .prodTitle .sub {
        font-size: 16px; } }

.prodList {
  margin-top: -104px; }
  @media (max-width: 1025px) {
    .prodList {
      margin-top: -72px; } }
  @media (max-width: 767px) {
    .prodList {
      margin-top: -32px; } }
  .prodList-item {
    margin-top: 104px; }
    @media (max-width: 1025px) {
      .prodList-item {
        margin-top: 72px; } }
    @media (max-width: 767px) {
      .prodList-item {
        margin-top: 32px; } }
  .prodList-img {
    height: 164px; }
  .prodList-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .prodList-title {
    font-size: 24px;
    text-transform: uppercase; }
    @media (max-width: 1025px) {
      .prodList-title {
        font-size: 24px; } }
    @media (max-width: 767px) {
      .prodList-title {
        font-size: 16px; } }
  .prodList-price {
    font-size: 24px;
    text-transform: uppercase;
    color: #AA0601;
    font-weight: 500; }
    @media (max-width: 1025px) {
      .prodList-price {
        font-size: 24px; } }
    @media (max-width: 767px) {
      .prodList-price {
        font-size: 16px; } }
  .prodList-colorBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .prodList-colorBox .color {
      width: 24px;
      height: 24px;
      border-radius: 4px; }
      @media (max-width: 1025px) {
        .prodList-colorBox .color {
          width: 24px; } }
      @media (max-width: 767px) {
        .prodList-colorBox .color {
          width: 16px; } }
      @media (max-width: 1025px) {
        .prodList-colorBox .color {
          height: 24px; } }
      @media (max-width: 767px) {
        .prodList-colorBox .color {
          height: 16px; } }
      .prodList-colorBox .color + .color {
        margin-left: 8px; }
        @media (max-width: 1025px) {
          .prodList-colorBox .color + .color {
            margin-left: 8px; } }
        @media (max-width: 767px) {
          .prodList-colorBox .color + .color {
            margin-left: 4px; } }
      .prodList-colorBox .color--brown {
        background-color: #5F3E2D; }
      .prodList-colorBox .color--orange {
        background-color: #B75929; }

.cardList {
  margin-top: -32px; }
  @media (max-width: 1025px) {
    .cardList {
      margin-top: -20px; } }
  @media (max-width: 767px) {
    .cardList {
      margin-top: -16px; } }
  .cardList .card {
    margin-top: 32px; }
    @media (max-width: 1025px) {
      .cardList .card {
        margin-top: 20px; } }
    @media (max-width: 767px) {
      .cardList .card {
        margin-top: 16px; } }

.card-img {
  height: 224px; }
  @media (max-width: 1025px) {
    .card-img {
      height: 164px; } }

.card-title {
  font-weight: 700;
  border: 1px solid #00000020;
  font-size: 24px;
  padding: 12px 24px; }
  @media (max-width: 1025px) {
    .card-title {
      font-size: 16px; } }
  @media (max-width: 1025px) {
    .card-title {
      padding: 8px 16px; } }

.card-body {
  border: 1px solid #00000020; }

.card-content {
  font-size: 20px;
  padding: 16px 24px; }
  @media (max-width: 1025px) {
    .card-content {
      font-size: 14px; } }
  @media (max-width: 1025px) {
    .card-content {
      padding: 16px 16px; } }

.card-footer .btn {
  width: 100%;
  font-weight: 400;
  padding: 20px; }
  @media (max-width: 1025px) {
    .card-footer .btn {
      padding: 16px; } }

.pageTop {
  height: 304px; }
  @media (max-width: 1025px) {
    .pageTop {
      height: 304px; } }
  @media (max-width: 767px) {
    .pageTop {
      height: 143px; } }
  @media (max-width: 1025px) {
    .pageTop {
      background-position: 40% center; } }
  .pageTop h1 {
    font-size: 64px;
    font-weight: 700;
    font-size: 64px;
    margin-right: 24px; }
    @media (max-width: 1025px) {
      .pageTop h1 {
        font-size: 48px; } }
    @media (max-width: 767px) {
      .pageTop h1 {
        font-size: 28px; } }
    @media (max-width: 1025px) {
      .pageTop h1 {
        margin-right: 16px; } }
    @media (max-width: 767px) {
      .pageTop h1 {
        margin-right: 8px; } }
  .pageTop img {
    width: 40px; }
    @media (max-width: 1025px) {
      .pageTop img {
        width: 30px; } }
    @media (max-width: 767px) {
      .pageTop img {
        width: 16px; } }

.faqList {
  margin-top: -40px; }
  @media (max-width: 1025px) {
    .faqList {
      margin-top: -40px; } }
  @media (max-width: 767px) {
    .faqList {
      margin-top: -20px; } }
  .faqList-question {
    font-weight: 700;
    margin-top: 40px;
    font-size: 20px; }
    @media (max-width: 1025px) {
      .faqList-question {
        margin-top: 40px; } }
    @media (max-width: 767px) {
      .faqList-question {
        margin-top: 20px; } }
    @media (max-width: 1025px) {
      .faqList-question {
        font-size: 20px; } }
    @media (max-width: 767px) {
      .faqList-question {
        font-size: 16px; } }
  .faqList-answer {
    padding-left: 8.33333%;
    font-size: 16px;
    margin-top: 16px; }
    @media (max-width: 767px) {
      .faqList-answer {
        padding-left: 0; } }
    @media (max-width: 1025px) {
      .faqList-answer {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .faqList-answer {
        font-size: 14px; } }
    @media (max-width: 1025px) {
      .faqList-answer {
        margin-top: 16px; } }
    @media (max-width: 767px) {
      .faqList-answer {
        margin-top: 8px; } }
    @media (max-width: 767px) {
      .faqList-answer .second {
        display: inline-block;
        margin-top: 1em; } }

.articleList {
  margin-top: -60px; }
  @media (max-width: 1025px) {
    .articleList {
      margin-top: -32px; } }
  @media (max-width: 767px) {
    .articleList {
      margin-top: -26px; } }

.articleCard {
  margin-top: 60px; }
  @media (max-width: 1025px) {
    .articleCard {
      margin-top: 32px; } }
  @media (max-width: 767px) {
    .articleCard {
      margin-top: 26px; } }
  .articleCard-img {
    height: 100%; }
    @media (max-width: 1025px) {
      .articleCard-img {
        height: 100%; } }
    @media (max-width: 767px) {
      .articleCard-img {
        height: 193px; } }
  .articleCard-title {
    color: #650300;
    font-size: 32px; }
    @media (max-width: 1025px) {
      .articleCard-title {
        font-size: 20px; } }
    @media (max-width: 767px) {
      .articleCard-title {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .articleCard-title {
        margin-top: 8px; } }
  .articleCard-sub {
    font-weight: 500;
    font-size: 20px; }
    @media (max-width: 1025px) {
      .articleCard-sub {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .articleCard-sub {
        font-size: 14px; } }
  .articleCard-date {
    font-weight: 500;
    font-size: 16px; }
    @media (max-width: 1025px) {
      .articleCard-date {
        font-size: 14px; } }
    @media (max-width: 767px) {
      .articleCard-date {
        font-size: 14px; } }
  .articleCard-content {
    margin-top: 24px;
    color: #555555;
    /* text-overflow multiline */
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    /* text-overflow multiline */
    font-size: 20px; }
    @media (max-width: 1025px) {
      .articleCard-content {
        font-size: 14px; } }
    @media (max-width: 1025px) {
      .articleCard-content {
        margin-top: 16px;
        -webkit-line-clamp: 6; } }
    @media (max-width: 767px) {
      .articleCard-content {
        display: none; } }
    .articleCard-content .more {
      color: inherit;
      font-weight: 700;
      display: none; }
      @media (max-width: 1025px) {
        .articleCard-content .more {
          display: inline-block; } }
  .articleCard-link {
    font-weight: 900;
    display: block;
    text-align: right;
    font-size: 36px;
    color: #650300; }
    @media (max-width: 1025px) {
      .articleCard-link {
        display: none; } }

.subMenu {
  background-color: #650300; }
  .subMenu-link {
    color: #fff;
    font-size: 20px;
    margin-right: 48px;
    height: 54px;
    line-height: 54px; }
    @media (max-width: 1025px) {
      .subMenu-link {
        font-size: 16px; } }
    @media (max-width: 1025px) {
      .subMenu-link {
        margin-right: 32px; } }
  @media (max-width: 767px) {
    .subMenu {
      display: none; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 88px;
  background-color: #AA0601;
  color: #fff; }
  @media (max-width: 1025px) {
    .header {
      padding-left: 40px;
      padding-right: 40px; } }
  @media (max-width: 767px) {
    .header {
      padding: 0;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  @media (max-width: 767px) {
    .header .logo {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      padding: 10px 0; } }
  .header .logo img {
    width: 80px;
    margin: auto; }
    @media (max-width: 767px) {
      .header .logo img {
        width: 48px; } }
  .header a {
    color: #fff; }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    text-align: center; }
    @media (max-width: 767px) {
      .header .menu {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .header .menu .item {
      margin-left: 64px; }
      @media (max-width: 767px) {
        .header .menu .item {
          margin-left: 0;
          border: 1px solid #fff;
          padding: 8px 0;
          -ms-flex-preferred-size: 50%;
              flex-basis: 50%; } }

.footer {
  background-color: #AA0601;
  padding: 36px 0 28px; }
  @media (max-width: 1025px) {
    .footer {
      padding: 40px 0; } }
  @media (max-width: 767px) {
    .footer {
      padding: 24px 0 20px; } }
  .footer * {
    color: #fff; }
  .footer .list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 767px) {
      .footer .list-group {
        float: right; } }
  .footer .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center; }
    .footer .menu .item {
      margin-right: 48px; }
    @media (max-width: 767px) {
      .footer .menu {
        display: none; } }
  .footer .iconList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer .iconList .item {
      margin-left: 32px; }
      @media (max-width: 1025px) {
        .footer .iconList .item {
          margin-left: 24px;
          width: 24px; } }
  .footer .contactList {
    margin-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media (max-width: 767px) {
      .footer .contactList {
        margin-top: 0; } }
    .footer .contactList .item + .item {
      margin-top: 20px; }
      @media (max-width: 1025px) {
        .footer .contactList .item + .item {
          margin-top: 8px; } }
    .footer .contactList a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 32px; }
      @media (max-width: 1025px) {
        .footer .contactList a {
          font-size: 20px; } }
      @media (max-width: 767px) {
        .footer .contactList a {
          font-size: 16px; } }
    .footer .contactList img {
      margin-right: 16px; }
      @media (max-width: 1025px) {
        .footer .contactList img {
          width: 24px;
          margin-right: 12px; } }
      @media (max-width: 767px) {
        .footer .contactList img {
          width: 14px;
          margin-right: 7px; } }
  .footer .subfooter {
    margin-top: 20px;
    padding-top: 24px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #fff; }
    @media (max-width: 1025px) {
      .footer .subfooter {
        margin-top: 24px; } }
    @media (max-width: 767px) {
      .footer .subfooter {
        padding-top: 18px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; } }
    .footer .subfooter .logo {
      width: 80px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 40px; }
      @media (max-width: 1025px) {
        .footer .subfooter .logo {
          display: none; } }
      .footer .subfooter .logo-onlyMobile {
        display: none; }
        @media (max-width: 767px) {
          .footer .subfooter .logo-onlyMobile {
            display: block;
            margin-right: 0;
            width: 46px;
            position: absolute;
            right: 0;
            bottom: 0; } }
    .footer .subfooter .copyright {
      vertical-align: middle; }
      @media (max-width: 767px) {
        .footer .subfooter .copyright {
          font-size: 14px; } }
    .footer .subfooter .sublist {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 767px) {
        .footer .subfooter .sublist {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      .footer .subfooter .sublist .item {
        margin-left: 60px; }
        @media (max-width: 1025px) {
          .footer .subfooter .sublist .item {
            margin-left: 24px;
            font-size: 14px; } }
        @media (max-width: 767px) {
          .footer .subfooter .sublist .item {
            margin-left: 0;
            margin-top: 8px; } }

.page {
  padding-bottom: 304px; }
  @media (max-width: 1025px) {
    .page {
      padding-bottom: 104px; } }
  @media (max-width: 767px) {
    .page {
      padding-bottom: 56px; } }

.pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px; }
  @media (max-width: 1025px) {
    .pagination {
      margin-top: 105px; } }
  @media (max-width: 767px) {
    .pagination {
      margin-top: 40px; } }

.heroHeader {
  background-image: url(../images/banner.png);
  height: 840px;
  color: #650300; }
  @media (max-width: 767px) {
    .heroHeader {
      height: 394px; } }
  .heroHeader .content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .heroHeader .heading {
    text-align: right;
    line-height: 1.5;
    font-weight: 700;
    font-size: 64px; }
    @media (max-width: 1025px) {
      .heroHeader .heading {
        font-size: 48px; } }
    @media (max-width: 767px) {
      .heroHeader .heading {
        font-size: 32px; } }
    .heroHeader .heading .sub {
      display: block;
      font-weight: 400;
      font-size: 36px; }
      @media (max-width: 1025px) {
        .heroHeader .heading .sub {
          font-size: 20px; } }
      @media (max-width: 767px) {
        .heroHeader .heading .sub {
          font-size: 16px; } }

.section {
  padding-bottom: 80px;
  color: #650300;
  padding-top: 64px; }
  @media (max-width: 1025px) {
    .section {
      padding-top: 40px; } }
  @media (max-width: 767px) {
    .section {
      padding-top: 32px; } }
  .section .title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
    font-size: 48px; }
    @media (max-width: 1025px) {
      .section .title {
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .section .title {
        margin-bottom: 20px; } }
    @media (max-width: 1025px) {
      .section .title {
        font-size: 32px; } }
    @media (max-width: 767px) {
      .section .title {
        font-size: 24px; } }

.about {
  background-color: #AA06010D; }
  @media (max-width: 767px) {
    .about {
      padding-bottom: 52px; } }
  .about .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 1025px) {
      .about .list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
  .about .item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
    margin-right: 30px;
    text-align: center;
    padding: 0 24px; }
    @media (max-width: 1025px) {
      .about .item {
        padding: 0 46px; } }
    @media (max-width: 767px) {
      .about .item {
        padding: 0 55px; } }
    @media (max-width: 1025px) {
      .about .item {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        margin-right: 0;
        margin-bottom: 40px; } }
    @media (max-width: 767px) {
      .about .item {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    .about .item:last-child {
      margin-right: 0; }
    @media (max-width: 1025px) {
      .about .item--price {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        margin-bottom: 0; } }
    @media (max-width: 767px) {
      .about .item--price {
        margin-bottom: 40px; } }
    @media (max-width: 1025px) {
      .about .item--time {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1; } }
    @media (max-width: 1025px) {
      .about .item--after {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; } }
    @media (max-width: 1025px) {
      .about .item--glasses {
        -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
                order: 4;
        margin-bottom: 0; } }
    .about .item-image {
      margin: auto;
      width: 100px;
      height: 100px; }
      @media (max-width: 1025px) {
        .about .item-image {
          width: 80px;
          height: 80px; } }
    .about .item-title {
      font-weight: 700;
      font-size: 24px;
      margin-top: 40px; }
      @media (max-width: 1025px) {
        .about .item-title {
          font-size: 20px; } }
      @media (max-width: 1025px) {
        .about .item-title {
          margin-top: 16px; } }
    .about .item-text {
      color: #000;
      text-align: left;
      margin-top: 4px; }
      @media (max-width: 1025px) {
        .about .item-text {
          margin-top: 8px; } }

@media (max-width: 1025px) {
  .classics {
    padding-bottom: 40px; } }

@media (max-width: 767px) {
  .classics {
    padding-bottom: 32px; } }

.classics .item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px; }
  @media (max-width: 1025px) {
    .classics .item {
      margin-bottom: 8px; } }
  @media (max-width: 767px) {
    .classics .item {
      position: relative; } }
  .classics .item:nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    .classics .item:nth-child(2n)-title {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      @media (max-width: 1025px) {
        .classics .item:nth-child(2n)-title {
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start; } }
    @media (max-width: 1025px) {
      .classics .item:nth-child(2n) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
  .classics .item:last-child {
    margin-bottom: 0; }
  .classics .item-title {
    font-weight: 700;
    font-style: italic;
    color: #AA0601;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 48px; }
    @media (max-width: 1025px) {
      .classics .item-title {
        font-size: 28px; } }
    @media (max-width: 767px) {
      .classics .item-title {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        color: #fff; } }
    .classics .item-title img {
      margin-right: 8px; }
      @media (max-width: 1025px) {
        .classics .item-title img {
          width: 32px; } }

.cobranding {
  background-image: url(../images/bg.png); }
  @media (max-width: 1025px) {
    .cobranding {
      padding-bottom: 40px; } }
  @media (max-width: 767px) {
    .cobranding {
      padding-bottom: 32px; } }
  .cobranding .title {
    color: #fff; }
  .cobranding .item {
    position: relative; }
    @media (max-width: 767px) {
      .cobranding .item + .item {
        margin-top: 16px; } }
    .cobranding .item-image::after {
      background-color: rgba(255, 255, 255, 0.5); }
    .cobranding .item-title {
      font-weight: 700;
      white-space: nowrap;
      font-size: 72px; }
      @media (max-width: 1025px) {
        .cobranding .item-title {
          font-size: 32px; } }
      @media (max-width: 767px) {
        .cobranding .item-title {
          font-size: 32px; } }

.recommand {
  padding-bottom: 64px; }
  @media (max-width: 1025px) {
    .recommand {
      padding-bottom: 40px; } }
  @media (max-width: 767px) {
    .recommand {
      padding-bottom: 32px; } }
  .recommand .list {
    margin-top: -28px; }
  .recommand .item {
    margin-top: 28px; }
    @media (max-width: 1025px) {
      .recommand .item {
        width: 50%; } }
    @media (max-width: 767px) {
      .recommand .item {
        width: 100%; } }
    .recommand .item img {
      width: 100%; }
    .recommand .item-body {
      padding: 16px;
      border: 1px solid #DEE2E6;
      border-top: none;
      color: #212529; }
    .recommand .item-title {
      font-size: 14px;
      font-weight: 500; }
    .recommand .item-text {
      margin-top: 7px; }
      @media (max-width: 1025px) {
        .recommand .item-text {
          margin-top: 16px; } }
    .recommand .item-time {
      display: block;
      font-size: 14px;
      color: #707070;
      margin-top: 10px; }
      @media (max-width: 1025px) {
        .recommand .item-time {
          margin-top: 16px; } }

.contact {
  background-color: #AA06010D;
  color: #000; }
  @media (max-width: 1025px) {
    .contact {
      padding-bottom: 40px; } }
  @media (max-width: 767px) {
    .contact {
      padding-bottom: 32px; } }
  .contact .title {
    margin-bottom: 24px; }
    @media (max-width: 1025px) {
      .contact .title {
        margin-bottom: 16px; } }
    @media (max-width: 767px) {
      .contact .title {
        margin-bottom: 20px; } }
  .contact .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .contact .leading {
    font-size: 20px; }
    @media (max-width: 1025px) {
      .contact .leading {
        font-size: 16px; } }
  .contact .form {
    margin-top: 20px; }
    @media (max-width: 1025px) {
      .contact .form {
        margin-top: 12px; } }
    @media (max-width: 767px) {
      .contact .form {
        margin-top: 8px; } }
    .contact .form label {
      display: block;
      margin-bottom: 16px;
      font-size: 16px; }
      @media (max-width: 1025px) {
        .contact .form label {
          margin-bottom: 8px; } }
      @media (max-width: 1025px) {
        .contact .form label {
          font-size: 14px; } }
    .contact .form input, .contact .form textarea {
      width: 100%;
      background: none;
      border: 1px solid #000;
      line-height: 1.5;
      font-size: 16px;
      padding: 14px 16px;
      margin-top: 4px; }
      @media (max-width: 1025px) {
        .contact .form input, .contact .form textarea {
          font-size: 14px; } }
      @media (max-width: 1025px) {
        .contact .form input, .contact .form textarea {
          padding: 8px 12px; } }
      @media (max-width: 1025px) {
        .contact .form input, .contact .form textarea {
          margin-top: 2px; } }
      .contact .form input::-webkit-input-placeholder, .contact .form textarea::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.2); }
      .contact .form input::-moz-placeholder, .contact .form textarea::-moz-placeholder {
        color: rgba(0, 0, 0, 0.2); }
      .contact .form input:-ms-input-placeholder, .contact .form textarea:-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.2); }
      .contact .form input::-ms-input-placeholder, .contact .form textarea::-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.2); }
      .contact .form input::placeholder, .contact .form textarea::placeholder {
        color: rgba(0, 0, 0, 0.2); }
    .contact .form .check {
      margin-left: 4px;
      text-indent: -20px;
      padding-left: 20px; }
      .contact .form .check input {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 0;
        margin-right: 5px; }
    .contact .form-btn {
      display: block;
      margin: 0 auto;
      margin-top: 40px; }
      @media (max-width: 1025px) {
        .contact .form-btn {
          margin-top: 20px; } }
      @media (max-width: 767px) {
        .contact .form-btn {
          margin-top: 24px; } }
      @media (max-width: 1025px) {
        .contact .form-btn {
          width: 210px; } }
      @media (max-width: 767px) {
        .contact .form-btn {
          width: 165px; } }

.productsPage .content {
  margin-top: 88px; }
  @media (max-width: 1025px) {
    .productsPage .content {
      margin-top: 40px; } }
  @media (max-width: 767px) {
    .productsPage .content {
      margin-top: 30px; } }

.productsPage .prodList {
  padding-top: 40px; }
  @media (max-width: 1025px) {
    .productsPage .prodList {
      padding-top: 32px; } }
  @media (max-width: 767px) {
    .productsPage .prodList {
      padding-top: 20px; } }

.productsPage--optical {
  padding-bottom: 156px; }
  @media (max-width: 1025px) {
    .productsPage--optical {
      padding-bottom: 104px; } }
  @media (max-width: 767px) {
    .productsPage--optical {
      padding-bottom: 56px; } }

.productsPage--sunglasses .pagination, .productsPage--functional .pagination {
  display: none; }
  @media (max-width: 1025px) {
    .productsPage--sunglasses .pagination, .productsPage--functional .pagination {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.storesPage .selectArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  margin-bottom: 32px; }
  @media (max-width: 1025px) {
    .storesPage .selectArea {
      margin-top: 8px; } }
  @media (max-width: 767px) {
    .storesPage .selectArea {
      margin-top: 8px; } }
  @media (max-width: 1025px) {
    .storesPage .selectArea {
      margin-bottom: 24px; } }
  @media (max-width: 767px) {
    .storesPage .selectArea {
      margin-bottom: 20px; } }
  .storesPage .selectArea .label {
    white-space: nowrap;
    font-size: 24px;
    margin-right: 20px; }
    @media (max-width: 1025px) {
      .storesPage .selectArea .label {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .storesPage .selectArea .label {
        font-size: 14px; } }
    @media (max-width: 1025px) {
      .storesPage .selectArea .label {
        margin-right: 20px; } }
    @media (max-width: 767px) {
      .storesPage .selectArea .label {
        margin-right: 12px; } }
  .storesPage .selectArea select {
    border: 1px solid #CED4DA;
    padding: 10px 20px;
    width: 324px;
    font-size: 18px; }
    @media (max-width: 1025px) {
      .storesPage .selectArea select {
        padding: 12px 16px; } }
    @media (max-width: 767px) {
      .storesPage .selectArea select {
        padding: 8px 16px; } }
    @media (max-width: 1025px) {
      .storesPage .selectArea select {
        width: 237px; } }
    @media (max-width: 1025px) {
      .storesPage .selectArea select {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .storesPage .selectArea select {
        font-size: 14px; } }
    @media (max-width: 767px) {
      .storesPage .selectArea select {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; } }

.storesPage .card .infoList {
  margin-left: 36px;
  text-indent: -36px; }
  .storesPage .card .infoList li + li {
    margin-top: 8px; }
  .storesPage .card .infoList .icon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% 90%;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 12px; }
    @media (max-width: 1025px) {
      .storesPage .card .infoList .icon {
        margin-right: 16px; } }

@media (max-width: 1025px) {
  .storesPage--detail .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .storesPage--detail .card > * {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }
    .storesPage--detail .card > :last-child {
      margin-left: 30px; } }

@media (max-width: 767px) {
  .storesPage--detail .card {
    display: block; }
    .storesPage--detail .card > :last-child {
      margin-left: 0; } }

.storesPage--detail .map {
  margin-top: 0; }
  @media (max-width: 1025px) {
    .storesPage--detail .map {
      margin-top: 32px; } }
  @media (max-width: 767px) {
    .storesPage--detail .map {
      margin-top: 16px; } }
  .storesPage--detail .map iframe {
    width: 100%;
    height: 100%; }
    @media (max-width: 1025px) {
      .storesPage--detail .map iframe {
        height: 465px; } }
    @media (max-width: 767px) {
      .storesPage--detail .map iframe {
        height: 227px; } }

.blogPage {
  padding-bottom: 156px; }
  .blogPage .content {
    padding-top: 80px; }
    @media (max-width: 1025px) {
      .blogPage .content {
        padding-top: 40px; } }
    @media (max-width: 767px) {
      .blogPage .content {
        padding-top: 24px; } }
  @media (max-width: 1025px) {
    .blogPage {
      padding-bottom: 104px; } }
  @media (max-width: 767px) {
    .blogPage {
      padding-bottom: 56px; } }

.faqPage .pageTop img {
  width: 58px; }
  @media (max-width: 1025px) {
    .faqPage .pageTop img {
      width: 48px; } }
  @media (max-width: 767px) {
    .faqPage .pageTop img {
      width: 24px; } }

.faqPage .content {
  margin-top: 80px; }
  @media (max-width: 1025px) {
    .faqPage .content {
      margin-top: 40px; } }
  @media (max-width: 767px) {
    .faqPage .content {
      margin-top: 24px; } }

.faqPage .title {
  font-weight: 700;
  font-size: 32px; }
  @media (max-width: 1025px) {
    .faqPage .title {
      font-size: 32px; } }
  @media (max-width: 767px) {
    .faqPage .title {
      font-size: 20px; } }

.faqPage .faqList {
  padding-top: 36px; }
  @media (max-width: 1025px) {
    .faqPage .faqList {
      padding-top: 36px; } }
  @media (max-width: 767px) {
    .faqPage .faqList {
      padding-top: 12px; } }

/*# sourceMappingURL=style.css.map */
