.subMenu {
  background-color: $color-main-dark;
  &-link {
    color: #fff;
    @include rwd-custom(font-size, $fz-medium, $fz-base);
    @include rwd-custom(margin-right, 48px, 32px);
    height: 54px;
    line-height: 54px;
  }
  @include mobile {
    display: none;
  }
}